{% extends "Admin/index.twig" %}

{% block content %}
<!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-user-cog"></i>
              Edit Employees
              <span id="flashMsg" class="alert alert-{{flashClass}}">{{ flash[flashClass][0] }}</span>
            </div>
            <div class="card-body">
              
            <form class="form-role-add" method="POST" action="{{ path_for("employeeEditAction", {'id' : employee.id }) }}">
                        <div class="form-group">
                                <label for="first_name" class="control-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{employee.first_name}}" required>
                        </div>	

                        <div class="form-group"> 
                                <label for="last_name" class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{employee.last_name}}" required>
                        </div>					

                        <div class="form-group"> 
                                <label for="email" class="control-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{employee.email}}" required>
                        </div>	

                        <div class="form-group"> 
                                <label for="job_title_id" class="control-label">Job Title</label>
                                <select class="form-control" id="job_title_id" name="job_title_id" required>
                                    <option value="">Select Job Title</option>
                                        {% if roles %}
                                            {% for row in roles %}
                                                {% set selected = '' %}
                                                    {% if row.id == employee.job_title_id %}
                                                    {% set selected = 'selected' %}
                                                {% endif %}
                                                    <option value="{{row.id}}" {{ selected }}>{{row.job_title}}</option>
                                            {% endfor %}
                                        {% endif %}
                                </select>
                        </div>
                         <div class="form-group">  
                             
                             <select id="location_id" class="form-control" name="location_id[]" multiple>
                                    {% if locations %}
                                            {% for location in locations %}
                                                 {% set selectedLocation = '' %}
                                                    <option value="{{location.id}}"  {% if location.id in assignedLocations|split(',') %} {% set selectedLocation = 'selected' %} {{selectedLocation}} {% endif %}>{{location.location_name}}</option>
                                            {% endfor %}
                                        {% endif %}
                             </select>
                            </div>
                        <div class="form-group"> 
                                <button type="submit" class="btn btn-primary">Save</button>
                        </div>     

                </form>	
                </div>
                </div>
         

{% endblock content %}