<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Login</title>

    <link rel="stylesheet" type="text/css" href="{{ baseRootUrl }}/public/css/admin/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ baseRootUrl }}/public/css/admin/all.min.css" media="all"/>

    <!-- Custom styles for this template-->
    <link href="{{ baseRootUrl }}/public/css/admin/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
          <div class="card-header"> Login </div>
        <div class="card-body">
           <form class="form-signin" method="POST" action="{{ path_for("adminLoginSubmit") }}">
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
          </form>
          <div class="text-center">
            <a class="d-block small" href="{{path_for('adminResetPassword')}}">Reset Password?</a>
          </div>
        </div>
      </div>
    </div>
    
     <!-- Bootstrap core JavaScript-->
    <script src="{{ baseRootUrl }}/public/js/admin/jquery.min.js"></script>
    <script src="{{ baseRootUrl }}/public/js/admin/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ baseRootUrl }}/public/js/admin/jquery.easing.min.js"></script>

  </body>

</html>
